virtual-machines:
  include:
    - VM Name
    - VM Name:
        snapshot-lvcreate-args: -l50%FREE
  offsite-exclude: []
local:
  out-dir: './Out'
  default-snapshot-lvcreate-args: -L10G
  use-sudo: false
  executables:
    gpg: /usr/bin/gpg2
  rotate:
    dailies: 7
    weeklies: 4
    monthlies: 6
    yearlies: 0
offsite:
  backend: glacier  # or s3
  encryption-key: XXXX
  expiry-days: 0.9
aws:
  access-key: XXXX
  secret-key: XXXX
  region: eu-west-1
  upload-chunk-size: 67108864 #64MiB
  glacier:
    vault: Backups
    archive-list-file: './archives.csv'
  s3:
    bucket: Backups
