verbose: true
virtual_machines:
  pause_for_snapshot: true
  include:
    - VM Name or UUID
    - VM Name or UUID
local:
  archive-list-file: './archives.csv'
  out-dir: './Out'
  commands:
    vbox-manage: 'VBoxManage'
    lvm: 'sudo lvm'
    mount: 'sudo mount'
    umount: 'sudo umount'
encryption:
  key: XXXX
aws:
  access_key: XXXX
  secret_key: XXXX
  region: eu-west-1
  glacier:
    vault: Backups
    upload_chunk_size: 67108864 #64MiB
